---
title: In The News
layout: layout-2-col-left-nav
---
.row
  .large-12.columns
    %h3
      = current_page.data.title
    %hr
    %ul.small-block-grid-2.medium-block-grid-3
      %li= image_tag "top-doctors-2012.jpg", alt: " "
      %li= image_tag "drexel-testing.jpg", alt: " "
      %li= image_tag "michael-weingarten.jpg", alt: " "
    %p.lead
      %strong
        = link_to 'For Chronic Wound Sufferers, the Forecast is Perhaps Not So Grim', 'http://www.philly.com/philly/health/our-view-for-chronic-wound-sufferers-the-forecast-is-perhaps-not-so-grim-20170804.html'
      %br
      Philadelphia Inquirer, August 4, 2017
    %p.lead
      %strong
        = link_to 'Researchers Showcase Wound Healing Patch on Capitol Hill', 'https://newsblog.drexel.edu/2017/04/04/snapshot-researchers-showcase-wound-healing-patch-on-capitol-hill/'
      %br
      Drexel News Blog, April 4, 2017

    %p.lead
      %strong
        = link_to 'New Hope for Healing Chronic Wounds', 'http://www.fox29.com/news/229993065-video'
      %br
      WTXF-TV (FOX-29), January 18, 2017

    %p.lead
      %strong
        = link_to 'NIH Funds Clinical Trial To Test Device That Heals Wounds With Ultrasound', 'http://drexel.edu/now/archive/2016/November/Ultrasound-Wound-Healing-Device/'
      %br
      DrexelNOW, November 29, 2016

    %p.lead
      %strong
        = link_to 'Ultrasound Patch Heals Venus Ulcers', 'http://www.nibib.nih.gov/news-events/newsroom/ultrasound-patch-heals-venous-ulcers-human-trial'
      %br
      NIH, August 1, 2013

    %p.lead
      %strong
        = link_to 'Ultrasound patch heals venous ulcers in human trial', 'http://www.sciencedaily.com/releases/2013/08/130801095410.htm'
      %br
      Science Daily, August 1, 2013

    %p.lead
      %strong
        = link_to 'Can Ultrasound Heal Old Wounds', 'http://www.bizjournals.com/philadelphia/blog/health-care/2013/08/can-ultrasounds-heal-old-wounds.html'
      %br
      Philadelphia Business Journal, August 1, 2013

    %p.lead
      %strong
        = link_to 'Researchers develop ultrasound patch to heal chronic wounds', 'http://www.medicaldevicedaily.com/servlet/com.accumedia.web.Dispatcher?next=bioWorldHeadlines_article&forceid=83777'
      %br
      Medical Device Daily, August 12, 2013

    %p.lead
      %strong
        = link_to '28 Amazing New Ways Philly Doctors Can Save Your Life (#10)', 'http://www.phillymag.com/articles/28-amazing-ways-philly-doctors-save-life/3/'
      %br
      Philadelphia Magazine, April 27, 2012

    %p.lead
      %strong
        = link_to 'Drexel testing a wound-healing device', 'http://articles.philly.com/2010-08-20/business/24973206_1_chronic-wounds-wound-healing-negative-pressure'
      %br
      Philadelphia Inquirer, August 20, 2010

    %p.lead
      %strong
        = link_to 'Ultrasound Can Heal Chronic Wounds', 'http://www.insidescience.org/content/ultrasound-can-heal-chronic-wounds/1528'
      %br
      InsideScience TV, January 7, 2014

    %p.lead
      %strong
        = link_to 'Health Watch: Wound Healing', 'http://www.youtube.com/watch?v=1blGuIbfEtw&feature=c4-overview&list=UUDn1ExjbFS6YsLz-tXpzb-A'
      %br
      CBS News Philadelphia, August 2, 2013


