!!!
/[if lte IE 9] <html class="no-js ie" lang="en">
= surround "<!--[if gt IE 9]><!-->", "<!--<![endif]-->" do
  %html( class="no-js" lang="en" )
    %head
      %meta( charset="utf-8" )
      %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
      / Use title if it's in the page YAML frontmatter 
      %title= data.page.title + " | CONQUER Collaborative" || "CONQUER Collaborative"

      = javascript_include_tag "modernizr"
      = partial "css"

    %body{ :class => page_classes }
      = partial "bg-image"
      .container
        .row
          .twelve.large-12.columns
            = partial "logo"
        .row.wrap-nav
          .twelve.large-12.columns
            = partial "nav-topbar"
        .row.wrap
          .nine.medium-9.columns.main-content-home
            = yield
          .three.medium-3.columns.sidebar-right
            = partial "sidebar-right"
        %footer.footer
          = partial "footer"

      = partial "js"