!!!
/[if lt IE 8] <html class="no-js ie7" lang="en">
/[if IE 8] <html class="no-js ie8" lang="en">
/[if IE 9] <html class="no-js ie9" lang="en">
= surround "<!--[if gt IE 9]><!--><html class='no-js' lang='en'><!--<![endif]-->", "</html>" do
  %head
    %meta( charset="utf-8" )
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    / Use title if it's in the page YAML frontmatter
    %title= "#{data.page.title} | #{data.info.site.title}" || "#{data.info.site.title}"
    %link{:rel => "shortcut icon", :href => "#{http_prefix}images/FavIcon.ico"}

    = javascript_include_tag "modernizr"
    = partial "css"

  %body{ :class => page_classes }
    = partial "bg-image"
    .height
      .container
        .row
          .twelve.large-12.columns
            = partial "logo"
        .row.wrap-nav
          .twelve.large-12.columns
            = partial "nav-topbar"
        .row.wrap
          .nine.medium-9.columns.main-content-home.pad-0
            = yield
          .three.medium-3.columns.sidebar-right.home
            = partial "sidebar-right-home"
      %footer.footer
        = partial "footer"

    = partial "js"