!!!
%html( class="no-js" lang="en" )
  %head
    %meta( charset="utf-8" )
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    / Use title if it's in the page YAML frontmatter 
    %title= data.page.title || "The Middleman"
    
    = stylesheet_link_tag "app", "style"
    = javascript_include_tag "modernizr"
  
  %body{ :class => page_classes }
    .wrapper
      .row
        .large-12.columns
          %h1 Welcome to Foundation
      .row
        .large-12.columns
          = partial "nav-topbar"
      .row
        .medium-6.medium-push-3.columns
          = yield
        .medium-3.medium-push-3.columns
          = partial "sidebar-right"
        .medium-3.medium-pull-9.columns
          = partial "nav-sidebar"
    = javascript_include_tag  "all"
