!!!
%html( class="no-js" lang="en" )
  %head
    %meta( charset="utf-8" )
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    / Use title if it's in the page YAML frontmatter 
    %title= data.page.title + " | CONQUER Collaborative" || "CONQUER Collaborative"
    
    = stylesheet_link_tag "app"
    = javascript_include_tag "modernizr"
  
  %body{ :class => page_classes }
    .container
      .row
        .large-12.columns
          = partial "logo"
      .row.wrap-nav
        .large-12.columns
          = partial "nav-topbar"
      .row.wrap
        .row
          .large-12.columns
            = partial "nav-breadcrumbs"
        .row
          .medium-6.medium-push-3.columns.main-content
            = yield
          .medium-3.medium-push-3.columns.sidebar-right
            = partial "sidebar-right"
          .medium-3.medium-pull-9.columns.sidebar-left
            = partial "nav-sidebar"
      %footer.footer
        = partial "footer"
    = javascript_include_tag  "all"
