---
title: Overview
layout: layout-2-col-left-nav
---

%h1 People
= image_tag "http://drexel.edu/~/media/Images/biomed/faculty/lewin-peter.ashx", class: "left", style: "width: 125px;", alt: " "
%h2 Dr. Peter A. Lewin
%p.lead= mail_to "lewinpa@drexel.edu"
%p.lead
  %strong Peter A. Lewin
  , M.Sc., Ph.D. is R.B. Beard Distinguished University Professor of Electrical and Computer Engineering in the College of Engineering at Drexel University, Philadelphia. He is also Director of the Ultrasound Research and Education Center in The School of Bioengineering, Bioscience and Health Systems at Drexel University. Dr. Lewin obtained his M.S. degree in Electrical Engineering in 1969 and the Ph.D. in Physical Acoustics in 1979 in Copenhagen, Denmark. Before receiving his Ph.D. degree he was employed by Bruel and Kjaer, Denmark, where he was involved in the development of underwater piezoelectric transducers and associated electronics. From 1978 to 1983 he was associated with the Danish Institute of Biomedical Engineering (now Force Institutes) and The University of Denmark, Copenhagen-Lyngby, where his research activities primarily focused on propagation of ultrasound waves in inhomogeneous media and development of PVDF transducers. In 1983 he joined the faculty of Drexel University. Dr. Lewin was awarded several patents in the field of ultrasound and has authored or co-authored over 230 scientific publications, most of them on topics in ultrasound and is co-editor (with Prof. M. C. Ziskin) of a book Ultrasonic Exposimetry (CRC Press, 1993). His current interests are primarily in the field of biomedical ultrasonics including the design and testing of piezoelectric transducers and sensors, power ultrasonics, ultrasonic exposimetry, tissue characterization using nonlinear acoustics, biological effects of ultrasound, applications of shock waves in medicine and image reconstruction and processing. Recently, Dr. Lewin has expanded and broadened his research to include ultrasound assisted chronic wound healing and syringe-free, noninvasive transdermal drug delivery.

%dl.accordion
  %dd.accordion-navigation{'data-accordion'=>""}
    %a{:href => "#panel1"}
      + More info
    %div#panel1.content
      Dr. Lewin is a Fellow of the Institute of Electrical and Electronics Engineers (IEEE). He is also a Fellow of the American Institute of Ultrasound in Medicine (AIUM), Acoustical Society of America (ASA), American Institute for Medical and Biological Engineering (AIMBE) and Elected Fellow of International Academy for Medical and Biomedical Engineering (IAMBE). He has also served as a Chair (1997-1999) of the AIUM's Technical Standards Committee and the AIUM's Board of Governors (2002-2004). In addition, Dr. Lewin serves as a consultant to the U.S. Food and Drug Administration, Center for Devices and Radiological Health and was appointed to the US Technical Advisory Group of ANSI to the International Electrotechnical Commission (IEC). He also serves as Associate Editor of the peer-reviewed journal "Ultrasonics". Most recently, he was elected as a life resource member of the prestigious Franklin Institute Science and Awards Committee, Philadelphia.
%br
%br
.row
  .six.medium-6.columns
    = image_tag "http://drexel.edu/~/media/Images/medicine/profile-headshots/W/Michael_Weingarten.ashx", class: "right", style: "height: 100px;", alt: " "
    %h3 Dr. Michael S. Weingarten
    %p.lead
      Professor of Surgery <br>
      Chief, Vascular Surgery <br>
      Director, Non-Invasive Vascular Laboratory <br>
      Director, Wound Healing Program <br>
    %p.lead
      %a{:href => "https://www.drexelmed.edu/Home/AboutOurFaculty/MichaelWeingarten.aspx"} Faculty Website
      %br
      = mail_to "Michael.weingarten@drexelmed.edu"
    %br
    %br
  .six.medium-6.columns
    = image_tag "http://drexel.edu/~/media/Images/biomed/faculty/zubkov-leonid.ashx", class: "right", style: "height: 100px;", alt: " "
    %h3 Dr. Leonid A. Zubkov
    %p.lead
      Research Professor
      %br
      = mail_to "leonid.a.zubkov@drexel.edu"
    %br
    %br
.row
  .six.medium-6.columns
    = image_tag "http://drexel.edu/~/media/Images/biomed/faculty/neidrauer-michael.ashx", class: "right", style: "height: 100px;", alt: " "
    %h3 Dr. Michael Neidrauer
    %p.lead
      Assistant Research Professor
      %br
      = mail_to "mtn33@drexel.edu"
    %br
    %br
  .six.medium-6.columns
    = image_tag "http://drexel.edu/~/media/Images/biomed/faculty/spiller-kara.ashx", class: "right", style: "height: 100px;", alt: " "
    %h3 Dr. Kara Spiller
    %p.lead
      Assistant Professor
      %br
      = mail_to "kls35@drexel.edu"
    %br
    %br
.row
  .six.medium-6.columns
    = image_tag "http://drexel.edu/~/media/Images/cbe/people/faculty/wrenn.ashx", class: "right", style: "height: 100px;", alt: " "
    %h3 Dr. Stephen P. Wrenn
    %p.lead
      Associate Professor
      %br
      = mail_to "steven.parker.wrenn@drexel.edu"
    %br
    %br
  .six.medium-6.columns
    = image_tag "7-bloomfield.jpg", class: "right", style: "height: 100px;", alt: " "
    %h3 Dr. Philip E. Bloomfield
    %p.lead
      Research Professor
      %br
      = mail_to "bloomfpe@drexel.edu"
    %br
    %br
.row
  .six.medium-6.columns
    = image_tag "http://drexel.edu/~/media/Images/cnhp/Faculty_New_pics/Dec_9_2013/Ghalili-Rose-Ann_lg.ashx", class: "right", style: "height: 100px;", alt: " "
    %h3 Rose Ann DiMaria-Ghalili
    %p.lead
      Associate Professor
      %br
      = mail_to "rad83@drexel.edu"
    %br
    %br

.row
  .twelve.medium-12.columns
    %h3 Doctoral Candidates
    %ul.small-block-grid-4.medium-block-grid-5
      %li
        = image_tag "p-kb.jpg", alt: " "
        %p.lead.lead.text-center Karissa Barbarevech
      %li
        = image_tag "p-on.jpg", alt: " "
        %p.lead.lead.text-center Olivia Ngo
      %li
        = image_tag "p-vg.jpg", alt: " "
        %p.lead.lead.text-center Vivinya Gunasekaran
.row
  .twelve.medium-12.columns
    %h3 Team Alumni
    %ul.small-block-grid-4.medium-block-grid-5
      %li
        = image_tag "p-al.jpg", alt: " "
        %p.lead.lead.text-center Alec Lafontant
      %li
        = image_tag "p-en.jpg", alt: " "
        %p.lead.lead.text-center Evan Niemann
      %li
        = image_tag "p-ps.jpg", alt: " "
        %p.lead.lead.text-center Prabagar Sankar
      %li
        = image_tag "p-js.jpg", alt: " "
        %p.lead.lead.text-center Joshua A. Samuels
      %li
        = image_tag "p-cb.jpg", alt: " "
        %p.lead.lead.text-center Christopher R. Bawiec
      %li
        = image_tag "p-sy.jpg", alt: " "
        %p.lead.lead.text-center Youhan Sunny
      %li
        = image_tag "p-dd.jpg", alt: " "
        %p.lead.lead.text-center David Diaz
      %li
        = image_tag "p-an.jpg", alt: " "
        %p.lead.lead.text-center An Nguyen