---
title: Recent News
layout: layout-2-col-left-nav
---
%h3 Recent News

%p
  %strong August, 2019
  %br
  Dr. Peter A. Lewin received the National Institute on Aging Alzheimer’s supplement of $382,389 to compliment the R01 grant entitled “Enhanced ultrasound treatment of chronic wounds with monitoring of healing and quality of life outcomes!”  

%hr

.right{style: "width: 300px; padding: 10px;"}
  = image_tag "Alec-Lafontant-Graduated.jpg", :style => "width: 300px; margin-bottom: 10px;"
  %p
    %em Alec Lafontant graduating with a PhD in Biomedical Engineering, hooded by Drs. Leonid Zubkov and Michael Neidrauer 


%p
  %strong June, 2019
  %br
  Dr. Peter A. Lewin and Colleagues Receive a $608K NIH Renewal Grant for Their Enhanced Ultrasound Treatment of Chronic Wounds Project
  %br
  %a{:href => "https://drexel.edu/biomed/news-and-events/news/2019/June/Dr-Peter-Lewin-and-Colleagues-Receive-NIH-Renewal-Grant/"} 
    &rarr; Read Full Story

%p
  Olivia Ngo Receives an F31 NIH Ruth L. Kirschstein National Research Service Award (NRSA) Individual Predoctoral Fellowship
  %br
  %a{:href => "https://drexel.edu/biomed/news-and-events/news/2019/June/Olivia-Ngo-Receives-An-NIH-Award/"} 
    &rarr; Read Full Story
%p
  Dr. Peter A. Lewin and Colleagues Receive a 2019 Drexel Areas of Research Excellence (DARE) Award for Their Cell2Society Aging Project
  %br
  %a{:href => "https://drexel.edu/biomed/news-and-events/news/2019/June/Dr-Lewin-and-Colleagues-Receive-a-2019-DARE-Award/"} 
    &rarr; Read Full Story

.row
  .twelve.medium-12.columns
    %ul.small-block-grid-2
      %li
        = image_tag "konofagou-1.jpg"
        %p 
          Pictured:
          %em Drs. Peter Lewin, Elisa E. Konofagou with family, Paul Brandt Rauf
      %li
        = image_tag "konofagou-2.jpg"
        %p
          %em Dr. Konofagou receives the Elizabeth Papazoglu Award for Inspired Leadership at School of BIOMED Commencement 2019. 

%hr.clearfix

.right{style: "width: 300px; padding: 10px;"}
  = image_tag "olivia-peer-choice-mentorship-award.jpg"
%p
  %strong May, 2019
  %br
  Olivia Ngo wins Drexel BIOMED Student Choice Mentorship Award

%hr

%p
  %strong January, 2019
  %br
  Dr. Peter Lewin Is Invited To Serve on the National Advisory Council for NIH’s National Institute of Nursing Research
  %br
  %a{:href => "https://drexel.edu/biomed/news-and-events/news/2019/January/Dr-Peter-Lewin-Is-Invited-To-Serve-on-National-Advisory-Council/"} 
    &rarr; Read Full Story

%hr.clearfix

.right{style: "width: 300px; padding: 10px;"}
  = image_tag "elevator-pitch-olivia.png", :style => "width: 300px; margin-bottom: 10px;"
  %p
    Women in Engineering Elevator Pitch Event at IEEE IUS
  %p
    %em Left to right: Alycen Wiacek from Johns Hopkins University, Muyinatu Bell, Assistant Professor of Electrical and Computer Engineering at Johns Hopkins University, Olivia Ngo from Drexel University


%p
  %strong November, 2018
  %br
  Olivia Ngo participated in the <a href="https://ieee-uffc.org/news/women-engineering-elevator-pitch-event-ieee-ius/">first Women in Engineering (WIE) Elevator Pitch Event at IEEE IUS this year</a>. 

%p
  %strong August, 2018
  %br
  Olivia Ngo recieved an BMES Career Development Travel Award to attend the BMES 2018 Annual Meeting in Atlanta, GA and an International Travel Award from Drexel to attend the the IEEE International Conference in Kobe, Japan. In this competition, Olivia won both People’s Choice Award (i.e., most votes by all participants) and second place overall as determined by a panel of seven judges consisting of senior members, academics, industry representatives, and IEEE fellows within the the UFFC Society.
%p
  %strong At the BMES 2018 Annual Meeting in Atlanta, GA, the research team will be presenting 2 posters (see below) and the research team will also be attending the IEEE International Conference in Kobe, Japan.
%ul
  %li
    %strong Abstract Title: Low-frequency (20 kHz), Low-intensity (100 mW/cm2) Ultrasound Accelerates Healing in Diabetic Chronic Wound Pilot Study
    %br
    Authors: Olivia Ngo, Vivinya Gunasekaran, Evan Neimann, Prabagar Sankar, Alec Lafontant, Sumati Nadkarni, Rose Ann DiMaria-Ghalili, Michael Neidrauer, Leonid Zubkov, Michael Weingarten, David Margolis, Peter Lewin
  %br
  %li
    %strong Abstract Title: Wearable Ultrasound Patch for Therapeutic Applications
    %br
    Authors: Vivinya Gunasekaran, Olivia Ngo, Evan Niemann, Prabagar Sankar, Alec Lafontant, Rose Ann DiMaria-Ghalili, Dr. Michael Neidraeur, Dr. David Margolis, Dr. Leonid Zubkov, Dr. Michael Weingarten, Dr. Peter Lewin
