.row
  .medium-2.columns.white
    = image_tag "live-it.png", class: "live-it"

  .medium-8.columns
    %ul.inline
      %li= link_to "A-Z Index", "http://drexel.edu/guide/a-z/"
      %li= link_to "For Media", "http://drexel.edu/now/news-media"
      %li= link_to "Careers", "http://drexel.edu/hr/atDrexel/employmentOps/"
      %li= link_to "Privacy & Legal", "http://drexel.edu/about/privacy-legal/"
      %li= link_to "Directories", "http://drexel.edu/about/contact/"
      %li= link_to "Directions & Maps", "http://drexel.edu/about/directions/"
      %li= link_to "Emergency Information", "http://drexel.edu/publicsafety/about/emergency/"

  .medium-2.columns.white
    %p.social-label Follow Drexel:
    %ul.social.inline.social-blue
      %li
        - link_to "http://www.facebook.com/drexeluniv" do
          %span.icon.duicon-facebook
      %li
        - link_to "http://www.twitter.com/DrexelNews" do
          %span.icon.duicon-twitter
      %li
        - link_to "http://www.flickr.com/photos/drexeluniversity/sets" do
          %span.icon.duicon-flickr
      %li
        - link_to "http://www.youtube.com/DrexelUniv" do
          %span.icon.duicon-youtube       

#skinny-nav
.row
  .medium-8.medium-offset-2.columns
    %p.address Drexel University, 3141 Chestnut Street, Philadelphia, PA 19104, 215-895-2000, © All Rights Reserved