%nav(class="top-bar" data-topbar)
  %ul.title-area
    %li.name
      %h1
        = link_to "Main Sections", "/"
    %li.toggle-topbar.menu-icon
      = link_to "", "#"

  %section.top-bar-section
    / Right Nav Section
    %ul.centerthis
      - data.pages.each do |page|
        %li.has-dropdown
          - if current_page?(page) || current_page_is_a_sub_page?(page)
            = link_to page.title, "/#{page.url}", class: "active"
          - else
            = link_to page.title, "/#{page.url}"

          / = link_to page.title, page.url
          %ul.dropdown
            - if page.sub_pages?
              - page.sub_pages.each do |sub|
                %li
                  - if current_page?(sub)
                    = link_to sub.title, "/#{page.url}/#{sub.url}", class: "active"
                  - else
                    = link_to sub.title, "/#{page.url}/#{sub.url}"
                / %li= link_to sub.title, page.url + "/" + sub.url