---
title: Home
---

%ul.bxslider
  %li= image_tag "Olivia-Ngo-NIH-Ruth-L-Kirschstein-NRSA.jpg", title: "Olivia Ngo Receives an F31 NIH Ruth L. Kirschstein National Research Service Award (NRSA) Individual Predoctoral Fellowship<br><a class='more-link' href='news/recent'>Read More</a>"
  %li= image_tag "Ultrasound-wound-healing-device-sm.jpg", title: "Dr. Peter A. Lewin and Colleagues Receive a $608K NIH Renewal Grant for Their Enhanced Ultrasound Treatment of Chronic Wounds Project<br><a class='more-link' href='news/recent'>Read More</a>"
  %li= image_tag "DARE.jpg", title: "Dr. Peter A. Lewin and Colleagues Receive a 2019 Drexel Areas of Research Excellence (DARE) Award for Their Cell2Society Aging Project<br><a class='more-link' href='news/recent'>Read More</a>"
  %li= image_tag "Engineering-Group.jpg", title: "Ultrasound Team <br><a class='more-link' href='people/overview'>People</a>"
  %li= image_tag "Clinical-Group.jpg", title: "Clinical Team <br><a class='more-link' href='people/overview'>People</a>"

%h2 Introduction
%p.lead The Drexel Ultrasound and Optics Wound Healing Team was formed as a collaboration between the ultrasound work of Dr. Peter A. Lewin and the optics team of Drs. Michael S. Weingarten and Leonid Zubkov and the late Dr. Elisabeth S. Papazoglou. The team is dedicated to using well documented ultrasound exposure and optical spectroscopy systems to treat and assess chronic wounds.

%p.lead The team has worked with low-frequency (<100kHz), low-intensity (<100mW/cm<sup>2</sup>) ultrasound to treat venous ulcers and <strong>Diffuse Near Infrared Spectroscopy</strong> (DNIS) and <strong>Diffuse Correlation Spectroscopy</strong> (DCS) to quantify wound healing process. These devices have been combined to offer a “theragnostic” approach, combining therapy and diagnostic technologies. The team includes collaborators from the Drexel University College of Medicine and Chemical Engineering Departments as well as Thomas Jefferson and Temple Universities.